body {
    font-family: "Lato", sans-serif;
    color: $color-light-grey;
    font-size: $font-size-primary;
    font-weight: 400;
    line-height: 1.7;
}

.heading {
    color: $color-white;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    &__main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveFromLeft 1s ease-out;
        @include respond (phone) {
            font-size: 4rem;
            letter-spacing: 2rem;
        }
    }
    &__sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveFromRight 1s ease-out 0.5s;
        animation-fill-mode: backwards;
        @include respond (phone) {
            font-size: 1rem;
            letter-spacing: .75rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    letter-spacing: .2rem;
    color: transparent;
    transition: $transition-primary;
    @include respond(tab-port) {
        font-size: 3rem;
    }
    @include respond(phone) {
        font-size: 2.5rem;
    }
}

.heading-tertiary {
    font-size: $font-size-primary;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $font-size-primary;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}